html, body {
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(201, 253, 253);
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(201, 253, 253);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(201, 253, 253);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(201, 253, 253);
    max-height: 150px;
    text-align: center;
}
.content {
    background-color: rgb(201, 253, 253);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(201, 253, 253);
    min-height: 150px;
    text-align: center;
}